<h1>Posts#index</h1>
<% @posts.each do |post| %>
  <div>
    
    <p><%= image_tag post.user.get_profile_image(100,100) %></p>
    <p><%= post.user.name %></p>
    <%= link_to post_path(post.id) do %>
    <p><%= post.content %></p>
    <% end %>
    <p><%= image_tag post.get_image %></p>
    <p>LTU: <%= post.created_at.strftime('%Y/%m/%d') %></p>
    <p><%= link_to "#{post.post_comments.count} Comments", post_path(post.id) %></p>
  </div>
<% end %>
