<h1>Posts#index</h1>
<% @post.each do |post| %>
  <div>
    <%= link_to post_path(post.id) do %>
    <p><%= image_tag post.user.get_profile_image(100,100) %></p>
    <p><%= post.user.name %></p>
    <p><%= post.title %></p>
    <p><%= post.content %></p>
    <p><%= image_tag post.get_image %></p>
    <p>LTU: <%= post.created_at.strftime('%Y/%m/%d') %></p>
    <% end %>
  </div>
<% end %>
