<div>
  <%= flash[:notice] %>
</div>

<div class="container">
  <div class="row">
    <div class="col-8 shadow-none rounded px-0 my-5">
      
      <h5 class="text-dark bg-light p-4 mb-0">プロフィール</h5>
      <br>
    <div>
      <%= image_tag @user.get_profile_image(70,70) %>
      
        <span>
          <strong><i class="far fa-flag"></i><%= @user.name %></strong>
        </span>
        <br>
        <br>
        <p>
          <% if @user == current_user %>
            <% unless @user.guest_user?%>
              <%= link_to "プロフィールを変更する", edit_user_path(@user), class: 'btn btn-success' %>
              <!--<%= render 'public/relationships/follow_list',followings:@followings %>-->
            <% end %>
          <% end %>
        </p>
      </div>
      <br>
      <br>
       <h5 class="text-dark bg-light p-4 mb-0">投稿一覧</h5>
      
       <%= render 'public/posts/index', posts: @posts %>
    </div>
  </div>
</div>